{{ define "content" }}
<!-- prettier-ignore -->
<p>
	Hello <strong>{{.FirstName}}</strong>,
</p>

<!-- prettier-ignore -->
<p>
	You recently requested to reset your password. To complete the process, please click the link below, copy and paste it into your browser, or enter the code in the app or website.
</p>

<p>
	<strong>Option 1:</strong>
	Tap the button below to reset your password instantly.
</p>
<a href="{{.Link}}" class="primary-button">Reset Password</a>

<p>
	<strong>Option 2:</strong>
	Enter the following verification code in the app or website:
</p>
<div class="highlight">
	<p style="font-size: 18px">{{.Code}}</p>
</div>

<p>
	<strong>Option 3:</strong>
	Copy and paste the following link into your browser:
</p>

<div class="highlight">
	<p>{{.Link}}</p>
</div>

<!-- prettier-ignore -->
<p>This email was sent to <b>{{.Email}}</b> on {{.SentAt}}, the token and link contained in this email are only valid for {{.ValidFor}} minutes.</p>

<p>If you did not make this request, please ignore this email, we will never ask you for this email or the token contained within this email.</p>
{{ end }}
